@font-face{
    font-family: "montserrat-bold";
    src: url("../assets/font/Montserrat-Bold.ttf");
    font-family: "montserrat-semibold";
    src: url("../assets/font/Montserrat-SemiBold.ttf");
    font-family: "montserrat-medium";
    src: url("../assets/font/Montserrat-Regular.ttf");
    font-family: "montserrat-regular";
    src: url("../assets/font/Montserrat-Regular.ttf");
    font-family: "montserrat-light";
    src: url("../assets/font/Montserrat-Light.ttf");
}

.body{
    margin: 0px;
}

/* - estilos barra de navegacion - */
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-left: 44px;
    margin-right: 44px;
    text-decoration: none;
}

.logo-home{
    width: 66px;
    will-change: filter;
    transition: filter 300ms;
}

.logo-home:hover {
    filter: drop-shadow(0 0 2rem #F68E94);
}

.logo-home:hover {
    filter: drop-shadow(0 0 2rem #F68E94);
}

.nav-links{
    display: flex;
    gap: 50px;
    font-family: "montserrat-medium";
    font-size: 16px;
    color: #1b1b1d;
    list-style-type: none;
    text-decoration: none;
}

.nav-link{
    width: 88px;
    color: #1b1b1d;
    text-decoration: none;
}

.nav-link:hover{
    color: #F68E94;
}

.btn-contact{
    background-color: #F68E94;
    border: none;
    padding: 10px;
    font-family: "montserrat-medium";
    font-size: 16px;
    height: 36px;
    border-radius: 10px;
    color: #f3f3f3;
    box-shadow: 0 0.4rem #000000;
    cursor: pointer;
}

.btn-contact:active {
    color: white;
    box-shadow: 0 0.2rem #000000;
    transform: translateY(0.2rem);
}

.btn-contact:hover:not(:disabled) {
    background: #F68E94;
    color: white;
}

.btn-contact:disabled {
    cursor: auto;
    color: #F68E94;
}

/* - estilos header - */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-left: 44px;
    margin-right: 44px;
}

.social-media{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.cta-home{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.title-home{
    width: 487px;
    margin-bottom: 15px;
    font-family: "montserrat-bold";
    font-size: 50px;
}

.titletext-home{
    width: 366px;
    margin: 0px;
    font-family: "montserrat-medium";
    font-size: 16px;
}

.btn-socialmedia {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #000000;
    background-color: #000000;
    box-shadow: 0px 4px 0px 0px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-socialmedia:active {
    box-shadow: 0px 0px #000000;
    transform: translate(0px, 1px);
}

.btn-github{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #000000;
    background-color: #F68E94;
    box-shadow: 0px 5px 0px 0px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-github:active {
    box-shadow: 0px 0px #000000;
    transform: translate(0px, 1px);
}

.icons-header{
    position: relative;
    margin-top: 50px;
}

.cellphone{
    position: absolute;
    width: 40%;
    top: 210px;
    left: 245px;
    transform: translate(-50%, -50%);
}

.camera{
    position: absolute;
    width: 34%;
    top: 110px;
    left: 440px;
    transform: translate(-50%, -50%);
}

.web{
    position: absolute;
    width: 36%;
    top: 320px;
    left: 485px;
    transform: translate(-50%, -50%);
}

.background{
    display: flex;
    width: 100%;
    margin-top: 0%;
}

.arrow-home{
    margin-left: 44px;
}

/* - estilos sobre nosotros - */
.about{
    background-color: #1b1b1d;
    color: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.about-right{
    padding-left: 100px;
    padding-right: 100px;
}

.titles-h2{
    font-family: "montserrat-bold";
    font-size: 40px;
    margin-top: 0px;
    padding-bottom: 20px;
}

.about-text{
    font-family: "montserrat-medium";
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.cv{
    margin-right: 20px;
    margin-top: 10px;
}

.span{
    color:#F68E94;
}

/* - estilos servicios - */
.services{
    background-color: #A88ECA;
    color: #f3f3f3;
}

.services-title{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 100px;
    font-family: "montserrat-bold";
    font-size: 40px;
    margin-bottom: 100px;
}

.card{
    background-color: #1b1b1d;
    border-radius: 25px;
    width: 608px;
    height: 344px;
}

.card-up{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}

.card-down{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}