
/* - animaciones imagenes headers - */

.animation-1 {
    overflow: hidden;
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.animation-2 {
    overflow: hidden;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.animation-3 {
    overflow: hidden;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

[data-animation="fade"]{
    opacity: 0;
    transform: translate(-100%);
    transition: .6s ease-in .3s;

    --opacity: 1;
    --transform: translate(0);
}

[data-animation="show"]{
    opacity: 0;
    transform: scale(0);
    transition: .6s ease-in .3s;

    --opacity: 1;
    --transform: scale(1);
}

[data-animation="up"]{
    opacity: 0;
    transform: translateY(100%);
    transition: .6s ease-in .3s;

    --opacity: 1;
    --transform: translateY(0);
}

.unset{
    opacity: var(--opacity);
    transform: var(--transform);
}