.contacto{
    display: flex;
    margin: 50px 44px;
    .container-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $rojo;
        color: $blanco-var;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-top: 15%;
        padding-bottom: 15%;
        width: 50%;
    }
    .contact-title{
        font-family: $bold;
        font-size: 40px;
        text-align: center;
        width: 415px;
        margin-bottom: 16px;
    }
    .contact-text{
        font-family: $medium;
        font-size: 20px;
        text-align: center;
        width: 350px;
        margin: 0px;
    }
    .contact-img{
        width: 28%;
    }
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f3f3f3;
    color: #1b1b1d;
    padding-top: 15%;
    padding-bottom: 15%;
    width: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .form .form-title {
    font-family: "montserrat-bold";
    font-size: 40px;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .form .form-text {
    font-family: "montserrat-medium";
    font-size: 20px;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .form .form-text {
    font-family: "montserrat-medium";
    font-size: 16px;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .form .form-input {
    font-family: "montserrat-medium";
    font-size: 16px;
    width: 450px;
    height: 32px;
    margin-left: 25%;
    border-radius: 20px;
    outline: none;
  }
  .form .form-input:hover {
    box-shadow: 0 0 0 0.1rem #F68E94;
  }
  .form .form-input:focus {
    box-shadow: 0 0 0 0.2rem #F68E94;
  }
  .form .form-inputm {
    font-family: "montserrat-medium";
    font-size: 16px;
    width: 450px;
    height: 100px;
    margin-left: 25%;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
  }
  .form .form-inputm:hover {
    box-shadow: 0 0 0 0.15rem #F68E94;
  }
  .form .form-inputm:focus {
    box-shadow: 0 0 0 0.3rem #F68E94;
  }
  .form .btn {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    gap: 25px;
  }
  .form .send, .form .erase {
    width: 160px;
  }