.headerf{
    display: flex;
    flex-direction: column;
    margin-left: 44px;
    margin-right: 44px;
    margin-top: 25px;
    .div-upf{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0px;
    }
        .header-textf1{
            font-family: $bold;
            font-size: 45px;
            width: 350px;
            height: 122px;
            text-align: right;
            position: relative;
            top: 75px;
            left: 260px;
        }
        .img-headerf{
            width: 25%;
            height: 25%;
            position: relative;
            top: 70px;
            left: -300px;
        }
        .background-headerf{
            position: relative;
            top: 0px;
            left: 160px;
            width: 39%;
        }
        .header-textf2{
            font-family: $bold;
            font-size: 45px;
            width: 241px;
            height: 110px;
            text-align: left;
            position: relative;
            top: 155px;
            left: -315px;
        }
    .div-downf{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin-top: 55px;
        top: -80px;
        }
        .btn-social{
            position: relative;
            display: inline-block;
            width: 105px;
            height: 27px;
            text-align: center;
            font-size: 16px;
            font-family: $regular;
            text-decoration: none;
            color: $negro-var;
            background: transparent;
            cursor: pointer;
            transition: ease-out 0.3s;
            border: 2px solid $negro-var;
            border-radius: 10px;
            box-shadow: inset 0 0 0 0 ;
            }
            .btn-social:hover {
                color: $blanco;
                box-shadow: inset 0 -100px 0 0 $rojo;
                border: 2px solid $rojo;
            }
            .btn-social:active {
                transform: scale(0.9);
            }
            .arrow-headerf{
                width: 40px;
                height: 40px;
            }
}

.background-ctaf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $negro-var;
    color: $blanco-var;
    border-radius: 25px;
    gap: 25px;
    margin-bottom: 100px;
    height: 345px;
    margin-left: 44px;
    margin-right: 44px;
        .ctaf-title{
            font-family: $bold;
            font-size: 35px;
            width: 675px;
            margin: 0px;
        }
        .ctaf-text{
            font-family: $medium;
            font-size: 20px;
            width: 670px;
            margin: 0px;
        }
        .btn-ctaf{
            font-family: $semibold;
            font-size: 20px;
            background-color: $rojo;
            color: $blanco-var;
            border: none;
            padding: 10px;
            width: 670px;
            height: 50px;
            border-radius: 10px;
            box-shadow: 0 0.4rem $negro;
            cursor: pointer;
        }
        .btn-ctaf:active {
            color: $rojo;
            box-shadow: 0 0.2rem $negro;
            transform: translateY(0.2rem);
        }
        
        .btn-ctaf:hover:not(:disabled) {
            background: $rojo;
            color: $blanco-var;
        }
        
        .btn-ctaf:disabled {
            cursor: auto;
            color: $blanco-var;
        }
}

.gallery{
    display: grid;
    gap: 20px;
    grid-template-columns: 38% 25% 38%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "gallery-img1 gallery-img3 gallery-img2",
    "gallery-img1 gallery-img3 gallery-img2",
    "gallery-img2 gallery-img3 gallery-img1",
    "gallery-img1 gallery-img3 gallery-img2",
    "gallery-img1 gallery-img3 gallery-img2",
    "gallery-img2 gallery-img4 gallery-img1",
    ;
    margin-left: 44px;
    margin-right: 44px;
    margin-bottom: 100px;
    width: 1385px;
    height: 2785px;
    .gallery-img1{
        width: 100%;
        height: 314px;
        border-radius: 25px;
        margin-bottom: 20px;
    }
    .gallery-img2{
        width: 100%;
        height: 708px;
        border-radius: 25px;
        margin-bottom: 20px;
    }
    .gallery-img3{
        width: 100%;
        height: 470px;
        border-radius: 25px;
        margin-bottom: 20px;
    }
    .gallery-img4{
        width: 100%;
        height: 323px;
        border-radius: 25px;
        margin-bottom: 20px;
    }
}

.cta-endf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 550px;
    background-color: #A88ECA;
}

.cta-textf{
    display: flex;
    justify-content: center;
    font-family: "montserrat-bold";
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 50px;
    color: #f3f3f3;
    letter-spacing: 2px;
    width: 465px;
}

.btn-endf{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "montserrat-semibold";
    font-size: 24px;
    background-color: #1b1b1d;
    color: #f3f3f3;
    border: none;
    padding: 10px;
    width: 560px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0.4rem #000000;
    cursor: pointer;
    width: 465px;
}

.btn-endf:active {
    color: $rojo;
    box-shadow: 0 0.2rem #000000;
    transform: translateY(0.2rem);
}

.btn-endf:hover:not(:disabled) {
    background: #1b1b1d;
    color: $rojo;
}

.btn-endf:disabled {
    cursor: auto;
    color: #1b1b1d;
}