.contacto{
    display: flex;
    margin: 50px 44px;
    .container-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $rojo;
        color: $blanco-var;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-top: 15%;
        padding-bottom: 15%;
        width: 50%;
    }
    .contact-title{
        font-family: $bold;
        font-size: 40px;
        text-align: center;
        width: 415px;
        margin-bottom: 16px;
    }
    .contact-text{
        font-family: $medium;
        font-size: 20px;
        text-align: center;
        width: 350px;
        margin: 0px;
    }
    .contact-img{
      margin-top: 10%;
      width: 28%;
    }
}

.cta-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: $negro-var;
  color: $blanco-var;
  height: auto;
  font-family: $medium;
  font-size: 16px;
  padding: 3px;
  border-radius: 0 15px 15px 0px;
  position: relative;
  bottom: 22%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $blanco-var;
    color: $negro-var;
    padding-top: 15%;
    padding-bottom: 15%;
    width: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .form .form-title {
    font-family: $bold;
    font-size: 40px;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .form .form-text {
    font-family: $medium;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .form .form-text {
    font-family: $medium;
    font-size: 16px;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .form .form-input {
    font-family: $medium;
    font-size: 16px;
    width: 450px;
    height: 32px;
    margin-left: 25%;
    border-radius: 20px;
    outline: none;
  }
  .form .form-input:hover {
    box-shadow: 0 0 0 0.1rem $bold;
  }
  .form .form-input:focus {
    box-shadow: 0 0 0 0.2rem $bold;
  }
  .form .form-inputm {
    font-family: $medium;
    font-size: 16px;
    width: 450px;
    height: 100px;
    margin-left: 25%;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
  }
  .form .form-inputm:hover {
    box-shadow: 0 0 0 0.15rem $bold;
  }
  .form .form-inputm:focus {
    box-shadow: 0 0 0 0.3rem $bold;
  }
  .form .btn {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    gap: 25px;
  }
  .form .send, .form .erase {
    width: 160px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $negro-var;
    opacity: 0.5;
    z-index: 999;
    display: none;
  }
  .popup-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup {
    display: none;
    position: fixed; 
    top: 50%;
    left: 50%;
    font-family: $bold;
    font-size: 24px;
    color: $negro-var;
    transform: translate(-50%, -50%);
    background-color: $blanco-var;
    padding: 20px;
    border: 10px solid $negro-var;
    border-radius: 25px;
    box-shadow: 0 4px 8px $rojo;
    z-index: 9999;
  }
  .popup-img{
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
  }
  .popup-alerta {
    display: none;
    position: fixed; 
    top: 50%;
    left: 50%;
    font-family: $bold;
    font-size: 24px;
    color: $negro-var;
    transform: translate(-50%, -50%);
    background-color: $blanco-var;
    padding: 20px;
    border: 10px solid $negro-var;
    border-radius: 25px;
    box-shadow: 0 4px 8px $rojo;
    z-index: 9999;
  }