@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

$bold: "Inter"; //700
$semibold: "Inter"; //600
$medium: "Inter"; //500
$regular: "Inter"; //400
$light: "Inter"; //300